{% load static i18n %}
{% load auth_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block extra_css %}{% endblock %}
    <title>Document</title>
  </head>
  <body>
    <header>
      
      <form action="{% url 'set_language' %}" method="POST">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.get_full_path }}">
        
  
        {% for lang_code, lang_name in LANGUAGES %}
            <button type="submit" name="language" value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}disabled style="cursor: auto;"{% endif %}>
                {% if lang_code == 'ru' %} RU
                {% elif lang_code == 'en' %} EN
                {% elif lang_code == 'kk' %} KZ
                {% endif %}
            </button>
        {% endfor %}
    </form>
       <div style="float: right; margin-right: 20px;">
        {% if user.is_authenticated %}
          <p>{{ user.first_name }} {{ user.last_name }}</p>

          {% if user|has_group:"Пациенты" %}
            <a href="{% url 'pat-details-page' p_id=user.pk %}"><button>{% trans "My profile" %}</button></a>
          {% endif %}

          <a href="{% url 'logout' %}"><button>{% trans 'Logout' %}</button></a>
        {% else %}
          <a href="{% url 'login' %}"><button>{% trans "Login" %}</button></a>
          <a href="{% url 'registr' %}"><button>{% trans "Register" %}</button></a>
        {% endif %}
      </div>
      <h1>{% trans "Welcome" %}</h1>
      <nav style="font-size: 18px; margin-bottom: 20px;">
        <a href="{% url 'doctor_list' %}">{% trans "Doctors" %}</a> |
        
        {% if user.is_superuser or user|has_group:"Doctors" %}
            <a href="{% url 'patient_list' %}">{% trans "Patients" %}</a> |
        {% endif %}

        <a href="{% url 'appointment_list' %}">{% trans "Appointments" %}</a>
      </nav>
    </header>
    <main>
      {% block content %}
      
      {% endblock  %}
    </main>
    <footer></footer>
  </body>
</html>