{% extends "base.html" %}
{% load static i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'da_app/patient_list.css' %}">
{% endblock %}

{% block content %}
<h2>{% trans "Patients List" %}</h2>
    {% for patient in patients %}
        <div class="patient_list">
            <a href="{% url 'pat-details-page' p_id=patient.pk %}">
                <h3>{{ patient.user.get_full_name }}</h3>
                <p>{% trans "Birth date" %}: {{ patient.birth_date }}</p>
            </a>
        </div>
    {% endfor %}

    {% if user.is_superuser %}
        <div class="add_patient">
            <a href="{% url 'patient_create' %}">{% trans "Add Patient" %}</a>
        </div>
    {% endif %}
    
{% endblock %}
