{% extends "base.html" %}
{% load static %}

{% block title %}Appointment {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'da_app/appointment_list.css' %}">
{% endblock %}

{% block content %}

<h2>Appointments</h2>
    {% for appointment in appointment %}
    <a href="{% url 'appointment_detail' a_id=appointment.pk %}">
        <div class="appointment_list">
            <h3>Doctor: {{ appointment.doctor.name }}</h3>
            <h3>Patient: {{ appointment.patient.name }}</h3>
            <p>Date: {{ appointment.date }}, {{ appointment.time }}</p>        
            <p>Status: {{ appointment.status }}</p>
        </div>
    </a>

    {% endfor %}
    {% if user.is_authenticated %}
        <div class="add_appointment">
            <a href="{% url 'appointment_create' %}">Add Appointment</a>
        </div>
    {% endif %}
{% endblock %}