{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Appointment Details" %}{% endblock %}

{% block content %}
    <h2>{% blocktrans %}Appointment: {{ appointment }}{% endblocktrans %}</h2>
    
    <h3>{% trans "Doctor" %}: {{ appointment.doctor.user.get_full_name }}</h3>
    <h3>{% trans "Patient" %}: {{ appointment.patient.user.get_full_name }}</h3>
    <p>{% trans "Date" %}: {{ appointment.date }}</p>
    <p>{% trans "Time" %}: {{ appointment.time }}</p>
    <p>{% trans "Reason" %}: {{ appointment.reason }}</p>
    <p>{% trans "Status" %}: {{ appointment.status }}</p>

    <button onclick="history.back()">← {% trans "Back" %}</button>

    {% if user == appointment.patient.user or user == appointment.doctor.user or user.is_superuser %}
        <a href="{% url 'appointment_update' a_id=appointment.pk %}" class="btn-edit">{% trans "Edit" %}</a>
    {% endif %}

    {% if user == appointment.patient.user or user.is_superuser %}
        <a href="{% url 'appointment_delete' a_id=appointment.pk %}">{% trans "Delete" %}</a>
    {% endif %}
{% endblock %}
