{% extends "base.html" %}

{% block title %}Doctor Details{% endblock %}

{% block content %}

{% if doctor.image %}
    <img src="{{ doctor.image.url }}" alt="Doctor Image" style="max-width: 200px;">
{% endif %}

    <h2>Doctor: {{ doctor.name }}</h2>
    <p>Specialty: {{ doctor.specialty }}</p>
    <p>Phone: {{doctor.phone}}</p>
    <p>Email: {{ doctor.email }}</p>

    <button onclick="history.back()">← Back</button>
    <a href="{% url 'doctor_delete' d_id=doctor.pk %}">Delete</a>
    <a href="{% url 'doctor_update' d_id=doctor.pk %}" class="btn-edit">Edit</a>
{% endblock %}
