{% extends "base.html" %}
{% load static i18n %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/doctor_detail.css' %}">
{% endblock %}

{% block title %}{% trans "Doctor Details" %}{% endblock %}

{% block content %}

{% if doctor.image %}
    <img src="{{ doctor.image.url }}" alt="{% trans 'Doctor Image' %}" style="max-width: 200px;">
{% endif %}

    <h2>{% trans "Doctor" %}: {{ doctor.user.get_full_name }}</h2>
    <p>{% trans "Specialty" %}: {{ doctor.specialty }}</p>
    <p>{% trans "Phone" %}: {{ doctor.phone }}</p>
    <p>{% trans "Email" %}: {{ doctor.user.email }}</p>

    <button onclick="history.back()">← {% trans "Back" %}</button>

    {% if user.is_superuser %}
        <a href="{% url 'doctor_delete' d_id=doctor.pk %}">{% trans "Delete" %}</a>
        <a href="{% url 'doctor_update' d_id=doctor.pk %}" class="btn-edit">{% trans "Edit" %}</a>
    {% endif %}

{% endblock %}
