{% extends "base.html" %}
{% load static i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'da_app/doctor_list.css' %}">
{% endblock %}

{% block content %}
<h2>{% trans "Doctors List" %}</h2>
        {% for doctor in doctors %}
            <div class="doctor_list">
                <a href="{% url 'doc-details-page' d_id=doctor.pk %}">
                    {% if doctor.image %}
                    <img src="{{ doctor.image.url }}" alt="Doctor Image">
                    <h3>{{ doctor.user.get_full_name }}</h3>
                    <p>{{ doctor.specialty }}</p>
                </a>
            </div>
        {% endfor %}
        
        {% if user.is_superuser %}
        <div class="add_doctor">
            <a href="{% url 'doctor_create' %}">{% trans "Add doctor" %}</a>
        </div>
        {% endif %}
{% endblock %}