{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
  {% trans "Delete Patient" %}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/patient_delete.css' %}">
{% endblock %}

{% block content %}
  {# Используем имя из связанной модели User #}
  <h2>{% trans "Delete Patient" %} "{{ patient.user.get_full_name }}"?</h2>
  <form method="post">
    {% csrf_token %}
    <button type="submit">{% trans "Confirm" %}</button>
    <a href="{% url 'patient_list' %}">{% trans "Cancel" %}</a>
  </form>
{% endblock %}